/Server/*.iml
/Server/logs
/Server/build
/Server/.idea
/Server/.gradle

/Client/Library
/Engine/Console/Debug
/Engine/Console/x64/Debug
/Engine/Integration/Debug

/Engine/GameController/x64/Debug

/Engine/GameController/Debug

/Engine/Integration/x64/Debug

/Engine/Engine/x64/Debug

Debug
/Server/*.log
/Engine/Engine/*.vsp
/Engine/Engine/*.psess
